body
{
    background-image: url("C:\\Users\\win 10\\Pictures\\Saved Pictures\\back.jpg");
/*background-color: blueviolet;*/
font-family: 'Times New Roman', Times, serif;
}

.center
{
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%,-50%);
    width:400px;
    height: 350px;
    background:white ;
    border-radius: 20px;
    margin:center;
    margin-top: 120px;
    margin-left: 50px;
  
    
}
.center h2
{
text-align: center;
align-items :center;

}
.center h5
{
text-align: center;

}

.txtStyle input[type="text"],.txtStyle input[type="password"]
{
    width: 250px;
    height: 40px;
    border:none;
    padding: 0 5px;
    border-bottom: 2px solid rgb(63, 59, 59) ;
    margin:20px auto; 
    margin-left:70px;
    margin-top: 10px;
    
}
.txtStyle input[type="submit"]
{
    border-radius: 25px;
    background: #452c66f5;
    padding: 20px;
    width: 265px;
    height: 10px;
    text-align: center;
    line-height: 2px;
    margin-left:70px;
    margin-top: 10px;
    color: white;
    
}
.controllabel
{
   text-align: center;
   margin-top:20px;
}